@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: #121f3d;
  color: white;
  padding: 100px;
  margin: 0;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px; /*you could change this to rem*/
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;  /*hide the checkbox*/
    width: 0;
}
.checkbox-container .checkmark {
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(125, 124, 124);
    transition: all 0.3s ease-in-out;
}
.checkbox-container .checkmark.radio {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(125, 124, 124);
    transition: all 0.3s ease-in-out;
}
.checkbox-container .checkmark .material-icons{
    color: #fff;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #1aea3d;

}
.checkbox-container input:checked ~ .checkmark .material-icons {
    transform: scale(1); /*la palomita crezca, little animation effect*/
}
/*RADIO BUTTON*/

.checkbox-container input:checked ~.checkmark.radio .circle {
    position: absolute;
    border-radius: 50%;
    top: 6px;
    left: 7px;
    height: 12px;
    width: 12px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}