body {
  background-color: rgb(44, 103, 179);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.upload-container {
  margin: 100px auto;
  width: 500px;
  text-align: center;
  background-color: white;
  border-radius: 7px;
  padding: 50px 30px;
  box-sizing: border-box;
}

.upload-container>.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/*description under the title*/
.upload-container .description {
  color: rgb(127, 127, 127);
}

/*borde puntuado - dashed lines*/
.upload-container .drag-drop {
  border: dashed 3px #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 55px 30px;
  margin: 20px 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: rgb(127, 127, 127);
  gap: 10px;
}

.upload-container .drag-drop .icon svg {
  width: 120px;
  height: 120px;
  fill: rgba(77, 134, 239, 0.5);
}

/*BUTTON BROWSE FILES*/
.upload-container .drag-drop .btn {
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #4D86F0;
  color: white;
  border: none;
  border-radius: 5px;
  min-width: 200px;
  cursor: pointer;
}

.upload-container .drag-drop .btn:hover {
  background-color: #6c9aeff1;
}

.upload-container .uploaded-files {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upload-container .title-section {
  text-align: left;
  color: #999;
  font-weight: bold;
  padding-bottom: 20px;
}

.upload-container .uploaded-files .file {
  border: solid 1px #ddd;
  border-radius: 5px;
  text-align: left;
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}

/*hover effect to files uploaded*/
.upload-container .uploaded-files .file:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.upload-container .uploaded-files .file .icon {
  width: 48px;

}

/*WORD ICON*/
.upload-container .uploaded-files .file .icon img {
  width: 48px;
  height: 48px;
}

.upload-container .uploaded-files .file .title {
  flex: 1;
 
}

/*name of the files "importantFile.doc/pdf"*/
.upload-container .uploaded-files .file .title .name {
  display: block;
  padding-bottom: 5px;
}

.upload-container .uploaded-files .file .title .size {
  color: #999;
  font-size: 0.8rem;
}
/*progress bar loading  file uploading*/
.upload-container .uploaded-files .file .title .progress {
  height: 5px;
  width: 100%;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.upload-container .uploaded-files .file .title .progress .progress-60 {
  background-color: #4D86F0;
  height: 5px;
  width: 60%; 
  border-radius: 4px;
}
.upload-container .uploaded-files .file .actions {

}
/*cross=cruz button*/
.upload-container .uploaded-files .file .actions button {
  padding: 10px;
  width: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.upload-container .uploaded-files .file .title .progress .progress-60 {
  background-color: #4d86f0;
  height: 5px;
  width: 60%;
  border-radius: 4px;
  overflow: hidden;
}

.upload-container .uploaded-files .file .actions button {
  padding: 10px;
  margin: 0 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.upload-container .uploaded-files .file .actions button:hover {
  background-color: #ddd;
}