@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');

body {
    padding:0;
    margin: 0;
    font-family: 'Finlandica', sans-serif;
}
.cards {
    display: flex;
    width: 120%;
    padding: 50px;
  }
  
  .card {
    background: linear-gradient(90deg, rgba(0, 114, 255, 1) 1%,
      rgb(48, 45, 97) 100%
    );
    color: white;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
  
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3), -4px 0 10px rgba(0, 0, 0, 0.2),
      -5px 0 10px rgba(0, 0, 0, 0.1);
  
    transition: all 0.3s ease;
  }
  .cards .card a {
    color: rgb(197, 197, 197);
}
.cards .card a:hover {
    color: rgb(220, 147, 21);
}


.cards .card .header {
    flex: 1;
}

.cards .card:hover {
    margin-right: 80px;
    transform: rotate(3deg) translateY(-15px); /*para crear efecto de empujar y mover la tarjeta*/
}

.cards .card .header .date {
    padding: 10px 0;
}

.cards .card .header .title {
    font-size: 28px;
}
.cards .card .footer .author a {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cards .card  .footer img {
    width: 49px;
    border-radius: 50%;
}

.cards .card[class*="element"] {
    margin-left: -100px;
  }
  
  .element-1:hover,
  .element-2:hover {
    margin-left: -100px;
  }